# ======================
# Node (frontend + backend)
# ======================
node_modules/
dist/
build/
dist-electron

# ======================
# Env
# ======================
.env

# ======================
# Logs
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# VSCode
# ======================
.vscode/

# ======================
# Android (lý do bạn bị 10k file)
# ======================
.android/
*.ini
*.img
adbkey*
avd/

# ======================
# Vite
# ======================
frontend/dist/

# ======================
# Misc
# ======================
coverage/